# /requirements.txt

requests

sendgrid==6.6.0

Ipython

heroku
gunicorn

flask

python-dotenv

# auth (login with google via oauth):
Authlib==1.0.0

# database (cloud firestore):
firebase-admin==5.0.0