{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>Application Overview</h1>
    <p> This application seeks help individuals by serving as a resource 
        to help them improve their cooking skills and make their cooking 
        experience easier and more enjoyable by providing them with 
        individualized sets of unique recipes, nutrition information 
        of different foods (including calories to help user monitor 
        their caloric intake), and the ability for the user to store 
        their favorite recipes for future reference.  
    </p>
    <p>
        The application has multiple functionalities designed to help the 
        user on their health and culinary journey. They are listed and 
        further explained below.
    </p>

    <h2>Recipe Generator </h2>
    <p> 
        The Recipe Generator provides an individualized set of recipes to 
        the user based on their preferences. The user has the option to 
        select recipes by Category (e.g., Seafood), by Nationality/Country 
        (i.e., Canadian), or by Ingredient (e.g., Chicken Breast). The user can also 
        choose to have the application randomly select at set of recipes 
        from the database. Every provided recipe from the Recipe Generator 
        will include the name, a picture of the meal, ingredients, 
        instructions, and an corresponding Youtube video for visual aid 
        (if available). The user will have the ability to store individual 
        recipes for future reference should they so desire, as explained 
        below in the "Individual Storage Capabilities and Login 
        Instructions" section. Similarly, the user can also have their 
        list of recipes emailed to them if they so desire. 
    </p>

    <h2>Nutrition Database </h2>
        
    <p>
        The Nutrition Database feature enables user to search for the 
        nutrition information of any food item (e.g. an egg) in the 
        USDA Database. The goal of the Nutrition Database feature is to help
        users monitor what and how much they are putting into their body 
        such that they can achieve their health goals. 
    </p>

    <h3>Individual Storage Capabilities and Login Instructions</h3>

    <p>
        This application also enables user to store their recipes for future
        reference in their own personal list. In order to do so, users must
        login into the application using a gmail account. Go to the "Login"
        page in order to log in to the app so that you can keep track 
        of your favorite recipes!
    </p>

{% endblock %}