{% extends "bootstrap_layout.html" %}
{% set active_page = "help" %}

{% block content %}

    <style>
        .categories {
            font-weight: bold;
        }
        .nationalities {
            font-weight: bold;
        }
        .ingredients {
            font-weight: bold;
        }

    </style>

    <h1>List of All Possible Inputs For Recipe Generator</h1>
    <hr>
    <h class="categories">All Categories</h>
    <ul>
        {% for category in categories %}
            <li>{{category}}</li>
        {% endfor %}
    </ul>
    <h class="nationalities">All Nationalities/Countries of Origin</h>
    <ul>
        {% for nationality in nationalities %}
            <li>{{nationality}}</li>
        {% endfor %}
    </ul>
    <h class="ingredients">All Ingredients</h>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ingredient}}</li>
        {% endfor %}
    </ul>


{% endblock %}