{% extends "bootstrap_layout.html" %}
{% set active_page = "list" %}

{% block content %}

    <h1>Custom Recipe List</h1>
    <hr>

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">Food Category</th>
                    <th scope="col">Nationality/Country of Origin</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
        </table>
    </div>

{% endblock %}


