{% extends "bootstrap_layout.html" %}
{% set active_page = "list" %}

{% block content %}

    <h1>Custom Recipe List</h1>
    <hr>


    

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Food Category</th>
                    <th scope="col">Nationality/Country of Origin</th>
                    <th scope="col">Check to Add to Grocery List</th>
                </tr>
            </thead>
           
                <tbody>
                    {% for recipe in recipes%}
                    <tr>
                        <td>
                            {{recipe["recipe_info"]["name"]}}
                        </td>
                        <td>
                            <img 
                                src={{recipe["recipe_info"]["picture_url"]}}
                                alt="Picture" 
                                width="100" 
                                height="100"
                             >
                        </td>
                        <td>
                            {{recipe["recipe_info"]["category"]}}
                        </td>
                        <td>
                            {{recipe["recipe_info"]["area"]}}
                        </td>
                        <td>
                            <form method="POST" action="/groceries/create" style="display: inline;">
                                <input type="hidden" name="recipe_name" value="{{ recipe['recipe_info']['name'] }}">
                                <button type="submit" class="button-4" role="button"><strong>Add to groceries list!</strong></button>   
                                </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

    


{% endblock %}


