{% extends "bootstrap_layout.html" %}
{% set active_page = "list" %}

{% block content %}

    <h1>Custom Recipe List</h1>
    <hr>

    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">Food Category</th>
                    <th scope="col">Nationality/Country of Origin</th>
                    <th scope="col">Check to Add to Grocery List</th>
                </tr>
            </thead>
            <form method="POST" action="/groceries" style="display: inline;">
                <tbody>
                    {% for order in orders%}
                    <tr>
                        <td>
                            {{order["product_info"]["name"]}}
                        </td>
                        <td>
                            {{order["product_info"]["category"]}}
                        </td>
                        <td>
                            {{order["product_info"]["area"]}}
                        </td>
                        <td>
                            <input type="checkbox" id="recipe" name="recipe">
                            <label for="groceries">Check to Add</label>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                <button type="submit" class="button-4" role="button"><strong>Add recipes to groceries list</strong></button>   
            </form>
    </div>

    


{% endblock %}


