{% extends "bootstrap_layout.html" %}
{% set active_page = "recipe/list" %}

{% block content %}

    <h1>Recipe List</h1>

    

    <p>This is a paragraph on the "Recipe List" page.</p>

    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe["name"] }} | {{ recipe["instructions"] }}</li>
            <ul> 
                {% for ingredient in recipe["ingredients"]%}
                    <li>{{ingredient["name"]}} | {{ingredient["measure"]}}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>


{% endblock %}